RayTracingSolver/rt-solver
BeamPropagationSolver/bpm-solver
dev/envs
**/.cache
**/bin
**/data
**/results
**/settings
**/Session.vim
**/*.*~
**/*.vti
**/__pycache__
__pycache__
conda_recipe/output
.pixi/*
!.pixi/config.toml
